.footer {
  @include bp(tablet) {
    padding-bottom: $gutter * 2;
  }

  .socials {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}

.contact .contact-form .tel-link {
  color: $highlight-color;
}


.contact .input-wrap input, .contact .input-wrap select, .contact .input-wrap textarea {
  background-color: #f2f1ef;
} 
