.accordion {
	margin-left: auto;
  margin-right: auto;
  
	.accordion__item {
		margin-bottom: 25px;
		display: flex;
    flex-direction: column;
    justify-content: center;
		.accordion__question {
      padding-right: 50px;
      cursor: pointer;
      position: relative;
      
      &::after {
        content: " ";
        position: absolute;
        background-size: contain;
        background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='78' height='78' viewBox='0 0 24 24' fill='none' stroke='%23000000' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='16'%3E%3C/line%3E%3Cline x1='8' y1='12' x2='16' y2='12'%3E%3C/line%3E%3C/svg%3E");
        width: 25px;
        height: 25px;
        transition: transform .4s ease;
        right: 0;
        top: 0;
        
      }
    }
    &.open {
      .accordion__question {
        a {
          color: $highlight-color;
        }
        &::after {
          transform: rotate(135deg);
        }
      }
      
      
    }
		.accordion__answer {
			transition: max-height .4s ease;
      overflow: hidden;
      max-height: 0;
		}
	}
}

.accordion__alt {

  .accordion__item {

      margin-bottom: 15px;

      .accordion__question {


          cursor: pointer;
          display: inline-flex;
          align-items: center;

          i {
              margin-right: 10px;
              height: 30px;
              width: 30px;
              background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='78' height='78' viewBox='0 0 24 24' fill='none' stroke='%2387786d' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'%3E%3Ccircle cx='12' cy='12' r='10'%3E%3C/circle%3E%3Cline x1='12' y1='8' x2='12' y2='16'%3E%3C/line%3E%3Cline x1='8' y1='12' x2='16' y2='12'%3E%3C/line%3E%3C/svg%3E");

              background-size: contain;
              background-position: center center;
              transition: transform .4s ease;
              background-repeat: no-repeat;
              filter: brightness(0);
          }

          h3,
          p {
              color: $highlight-color;
              text-transform: none;
          }
      }

      .accordion__answer {
          transition: max-height .25s ease;
          overflow: hidden;
          max-height: 0;

          *:last-child {
              margin-bottom: 30px;
          }

      }

      p,
      ul,
      ol {
          margin-top: $gutter / 2;
          margin-bottom: 0;
      }

      &.open {
          i {
              transform: rotate(135deg);
          }
      }
  }
}